:root{
    --yellow: #fae100;
    --horizontal-space: 25px;
    --main-border: 1px solid rgba(0, 0, 0, 0.2); 
    --comment-gray: 1px solid rgba(0, 0, 0, 0.5);
}
/* 똑같은 코드가 반복되는 경우, 변수를 만들어서 같은 코드를 여러 번 사용하지 않는 것이 좋음 */